@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-zinc-600: #52525b;
  --color-zinc-400: #a1a1aa;
  --color-zinc-200: #e4e4e7;
  --color-zinc-100: #f4f4f5;
  --color-zinc-50: #fafafa;
  --color-accent: #2563eb;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  color: #09090b;
}
